In [1]:
import pandas as pd
import datetime as dt
import numpy as np
from os import listdir
from os.path import isfile, join
from dateutil.relativedelta import relativedelta
import matplotlib
import matplotlib.pyplot as plt

In [2]:
df = pd.DataFrame()
#read in csv needed.
print('Dundalk, Swords, Wicklow Town, Kilmuckridge, Rosslare Harbour, Dunmore East')
print('Where is the wind farm being constructed near?: ')
name_wf = input(str())

if name_wf == 'Dundalk':
    name_wf = '\Dundalk_data.csv'
elif name_wf == 'Swords':
    name_wf = '\Swords_data.csv'
elif name_wf == 'Wicklow Town':
    name_wf = '\Wicklow_Town_data.csv'
elif name_wf == 'Kilmuckridge':
    name_wf = '\Kilmuckridge_data.csv'
elif name_wf == 'Rosslare Harbour':
    name_wf = '\Rosslare_Harbour_data.csv'
elif name_wf == 'Dunmore East':
    name_wf = '\Dunmore_East_data.csv'



#df = pd.read_csv() #Uncomment and add csv here

df = pd.read_csv(r'C:\Users\09ant\Documents\College\Masters\5th Year\Thesis\Models & Data\Conversion Models\time series to yearly'+name_wf, index_col=0)

df.index = pd.to_datetime(df.index)
df

Dundalk, Swords, Wicklow Town, Kilmuckridge, Rosslare Harbour, Dunmore East
Where is the wind farm being constructed near?:
Rosslare Harbour

,2010_windspeed,2011_windspeed,2012_windspeed,2013_windspeed,2014_windspeed,2015_windspeed,2016_windspeed,2017_windspeed,2018_windspeed,2019_windspeed,2020_windspeed
Date,,,,,,,,,,,
2000-01-01 00:00:00,7.331529,1.253697,11.313087,9.961019,10.692015,11.828625,5.184729,8.532814,14.827436,5.921203,2.777820
2000-01-01 01:00:00,7.113121,1.623778,11.455984,10.196190,10.914266,11.693146,5.142205,9.430978,14.982393,5.704133,1.877570
2000-01-01 02:00:00,6.991473,2.306427,11.253323,10.191273,11.047433,11.784312,6.145856,11.519667,15.107716,5.395479,1.302739
2000-01-01 03:00:00,6.879767,3.028919,11.414132,10.088461,11.149606,11.900870,7.499753,11.386648,14.270764,5.188422,1.080278
2000-01-01 04:00:00,6.818273,3.627502,11.681671,10.053136,11.329759,11.744043,8.641661,11.143629,12.952223,5.100347,1.441938
...,...,...,...,...,...,...,...,...,...,...,...
2000-12-31 19:00:00,2.586365,11.520716,8.334266,10.063304,11.764633,9.524188,8.754690,15.083137,6.207652,4.455313,7.987421
2000-12-31 20:00:00,2.620521,9.118003,9.050702,10.059199,11.291439,8.897506,8.905761,13.818970,6.143528,4.940051,7.991936
2000-12-31 21:00:00,2.415697,8.989476,9.391624,10.050838,10.911809,8.069977,8.909080,13.138112,6.103026,4.997076,7.664244
2000-12-31 22:00:00,2.029633,9.560188,9.233863,10.167900,10.660790,7.150322,8.850058,13.231722,6.054356,4.542225,7.127269
2000-12-31 23:00:00,1.608872,10.306748,9.502892,10.336528,11.085171,6.125299,9.042687,14.243275,6.003913,3.772975,6.936156

In [3]:
round(df.mean(),3)

2010_windspeed    6.629
2011_windspeed    7.434
2012_windspeed    7.302
2013_windspeed    7.367
2014_windspeed    7.321
2015_windspeed    7.790
2016_windspeed    7.172
2017_windspeed    7.323
2018_windspeed    7.213
2019_windspeed    7.284
2020_windspeed    7.858
dtype: float64

In [5]:
print('What is the starting year of your data?: ')
s_year = input(str())
s_year = int(s_year)


print('What is the ending year of your data?:')
e_year = input(str())
e_year = int(e_year)

print('What is the name for this data?: ')
name = input(str())

What is the starting year of your data?:
2010
What is the ending year of your data?:
2020
What is the name for this data?:
r

In [6]:
df_shape = pd.DataFrame()


for k in range(0, len(df.columns)):
    for year in range(s_year,e_year+1):  
        
        df_shape[df.columns[k]] = (df[df.columns[k]] / df[df.columns[k]].mean())




year = e_year
df_shape['mean'] = df_shape.mean(axis=1)
df_shape[df.columns[k]] = df_shape['mean']* df[df.columns[k]].mean()
df_shape = df_shape.drop(['mean'], axis=1)

for k in range(0, len(df.columns)-1):
    df_shape = df_shape.drop([df.columns[k]], axis=1)

#df_shape.to_csv(name+'_shape.csv')
df_shape

                     2020_windspeed
Date
2000-01-01 00:00:00        8.761809
2000-01-01 01:00:00        8.815481
2000-01-01 02:00:00        9.102642
2000-01-01 03:00:00        9.184912
2000-01-01 04:00:00        9.245438
...                             ...
2000-12-31 19:00:00        9.319626
2000-12-31 20:00:00        8.991785
2000-12-31 21:00:00        8.782669
2000-12-31 22:00:00        8.588002
2000-12-31 23:00:00        8.624534

[8784 rows x 1 columns]

In [7]:
round(df_shape.mean(),3)

2020_windspeed    7.864
dtype: float64